body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, yellow, gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white;
    padding: 20px;
    border-radius:   
 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#mensagem {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}