.produto {
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.frente, .verso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.frente {
    transform: rotateY(0deg);
}

.verso {
    transform: rotateY(180deg);
}

.produto:hover .frente {
    transform: rotateY(-180deg);
}

.produto:hover .verso {
    transform: rotateY(0deg);
}